.addressBar{

    font-size: 1.2em;
width: 100%;
height: 40px;
background: $black;
float: left;
color: $white;
border-bottom: 1px solid $white;
.addressBar__left{


float: left;
text-align: left;
padding-left: 5px;
padding-top: 10px;
&:hover{
  cursor: pointer;
}
&:first-child{
  padding-left: 15px;
}
}

.addressBar__Right{
float: right;
padding-right: 15px;
padding-top: 10px;

}

}
