.download{
  pointer-events: none;
position: absolute;
float:left;
overflow: hidden;
height: auto;
min-height: 100vh;
.download__title{
    pointer-events: none;
float: left;
margin-top: 100px;
margin-left: 20px;
position: relative;


}
.download__subtile{
  margin-right: 20px;
  color:$white;
  float: right;

  margin-top: 150px;
}
.download__button{
    pointer-events:all;
  background: $green;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
float: left;

padding-left: 20%;
width: calc( 100% - 20%);
&:hover{
  cursor: pointer;
  background: white;
}
}
.download__body{
  margin-right: 10%;
  width: 40%;
  position: relative;
  z-index: 3;
  float: right;
  margin-bottom: 100px;
  text-align: justify;
}
.download__svg{
  z-index: 1;
  position: absolute;
  margin-left: -300px;
  float: left;
  margin-top: 100px;
  width: 1000px;
  pointer-events: none;
  &:hover {
    background: white;
  .download__button{

  }
}
}
}
