.indexPage{
  width: 100%;
  height: 200px;

  .indexPage__titleTop{
      margin-left: 20px;
      position: absolute;
      margin-top: 100px;
      z-index: 3;
  }

  .indexPage__bodyTop{
    z-index: 2;
    position: absolute;
    width: 35%;
    text-align: justify;
    margin-left: calc(38% + 150px - 30px);
    margin-top:180px;
    padding: 20px  40px;
    border: 4px solid $pulp;
  }

.indexPage__top{
  z-index: 2;
  position: absolute;
  margin-left:38%;
  margin-top:80px;
  width: 150px;
  height: 1000px;
  background: $black;
}
.indexPage__Svg{
    z-index: 3;
    margin-left: 0%;
    float: left;
  position: relative;
width: 50%;
margin-top: 175px;
}
.indexPage__bottom{
  z-index: 1;
  position: absolute;
  margin-top: 135px;
  width: 60%;
  height: 200px;
  background: $pulp;
}

.indexPage__titleMiddle{
  margin-top: calc(250px + 30%) ;
  position: absolute;
  margin-left: 20px;
  z-index: 3;
}

.indexPage__bodyMiddle{
position: absolute;
margin-top:  calc(320px + 30%) ;
margin-left: 30px;
width: 40%;

z-index: 3;
text-align: justify;
}
.indexPage__VideoMiddle{


  margin-left: -25px;
  margin-top:  calc(250px + 30%) ;
  position: relative;
width: calc(50% - 20px) ;
height: 300px;
z-index: 3;

}

.indexPage__titleBottom{
position: absolute;
  margin-top:  calc(20% - 150px );
  z-index: 4;
margin-left: 20px;
}
.indexPage__redBox{
  position: absolute;
width: 50%;
height: 550px;
background: $red;
margin-top: -500px;
z-index: 3;
margin-left: 50%;
}
.indexPage__VideoBottom{
  position: relative;
z-index: 4;
margin-top:  calc(20% - 50px );
  width: 100%;
  height: 400px;
}


}
