$black: black;
$white: white;
$green: #28A45F;
$red:  #A50010;
$pulp: #4F0C8A;
@import 'fonts.scss';
@import 'addressBar.scss';
@import 'indexPage.scss';
@import 'download.scss';
@import 'tutorials.scss';
@import "../../../node_modules/normalize-scss/sass/_normalize.scss";
 @include normalize();
$color: #262828;

.hoverVideo{
  background: blue;
  cursor: pointer;
}
body {
  background: #282828;
    background: black;
font-family: 'NTR', sans-serif;
}

h1{
  color: $white;
  font-family: 'Heebo', sans-serif;
}

h2{
  color: $white;
}
h3{
  color: $white;
}
h4{
    font-family: 'NTR', sans-serif;
  color: $black;
  font-size: 2em;
}
