.tuts{
    pointer-events: none;
  position: absolute;
.tuts__title{
    pointer-events: none;
  margin-top: 100px;
  margin-left: 20px;
}
.tuts__body{
width: 40%;
text-align: justify;
margin-left: 40px;
margin-bottom: 50px;
}
.tuts__playlist{
  pointer-events:all;
  width: 80%;
margin-left: 10%;

.tuts__playlist--title{
margin-bottom: 25px;
}
.tuts__video{
  width: 100%;
  height: 500px;
}
}
}
